*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    width: 90%;
    margin: 0 auto;
}

/* Regole Generali*/

/*************************************
           REGOLE HEADER
**************************************/

header{
    background-color: #0084fd;
    height: 100px;
    width: 100%;
    margin-bottom: 60px;
}

header .container {
	padding-top: 24px;
	display: flex;
	justify-content: space-between;
	align-self: baseline;
}

#logo{
    height: 50px;
    width: 50px;
    /* DEBUG */
    background-color: yellow;
    border: solid black 2px;
}

#hamburger{
    height: 50px;
    width: 50px;
    /* DEBUG */
    background-color: yellow;
    border: solid black 2px;
}

#menu{
    display: none;
}





/*************************************
           REGOLE MAIN
**************************************/

/* <!-- FIRST LAYOUT , EXPLANATION --> */

#explanation .container {
	min-height: 300px;
	flex-wrap: wrap;
	display: flex;
	justify-content: space-between;
    /* DEBUG */
    background-color: violet;
    margin-bottom: 40px;
}

.col{
    min-height: 250px;
    width: 100%;
    /* display: block; */
    margin-bottom: 20px;
    /* DEBUG */
    background-color: #b5ddff;
    border: solid black 2px ;
}

/* <!-- SECOND LAYOUT , MOTIVATION --> */

#motivation .container{
    min-height: 400px;
    /* DEBUG */
    background-color: greenyellow;
    margin-bottom: 40px;
}

#motivation .col{
    /* DEBUG */
    background-color: red;
}

/* <!-- THREAD LAYOUT , TESTIMONIALS --> */

#testimonial .container{
    min-height: 400px;
    /* DEBUG */
    background-color: rgb(255, 47, 224);
    margin-bottom: 40px;
}

#testimonial .col{
    /* DEBUG */
    background-color: #0084fd;
}

/* <!-- FIFTH LAYOUT , ABOUT US  --> */

#aboutus .container{
    min-height: 400px;
    /* DEBUG */
    background-color: rgb(255, 47, 224);
    margin-bottom: 40px;
}

#aboutus .col{
    /* DEBUG */
    background-color: blue;
}

/* <!-- SIXTH LAYOUT , GET STARTED --> */

#getstarted .container{
    width: 100%;
    min-height: 400px;
    display: flex;
    align-items: center;
    /* DEBUG */
    background-color:#9792e4 ;
    margin-bottom: 40px;
}

#getstarted .col{

    /* DEBUG */
    background-color:#fdc15f;
}








/*************************************
           REGOLE FOOTER
**************************************/

#info .container{
    width: 100%;
    min-height: 200px;
    display: flex;
    align-items: center;
    /* DEBUG */
    background-color:#333333 ;
}

#info .col{
    width: 100%;
    height: 70px;
    margin: 0 auto;
    /* DEBUG */
    background-color: #333333;
}





/*************************************
           TABLET
**************************************/

@media all and (min-width:768px) {
    
    /* <!-- FIRST LAYOUT , EXPLANATION --> */

    #explanation .container{
        display: flex;
        flex-wrap: wrap;
    }

    #explanation .col{
        min-height: 60px;
        width: calc(100% / 3);
        /* DEBUG */
        background-color: #b5ddff;
    }

    #explanation .col.big{
        width: calc((100% / 3) * 2 - 10px);
    }

    /* <!-- FOURTH LAYOUT , BENEFITS  --> */

    #benefit .container{
        min-height: 400px;
        display: flex;
        flex-wrap: wrap;
        /* DEBUG */
        background-color: rgb(192, 203, 38);
        margin-bottom: 40px;
    }
    
    #benefit .col{
        width: calc(100% / 2);
        /* DEBUG */
        background-color: #328144;
    }
    
    /* <!-- FIFTH LAYOUT , ABOUT US  --> */

    #aboutus .container {
        display: flex;
        justify-content: center;
    }

    #aboutus .col{
        width: calc(100% / 2);
        /* DEBUG */
        background-color: blue;
    }

    /* <!-- SIXTH LAYOUT , GET STARTED --> */


    #getstarted .col{
        width: 80%;
        margin: 0 auto;
        /* DEBUG */
        background-color: #fdc15f;
    }


    /* FOOTER */

    #info .col{
        width: 70%;
        margin: 0 auto;
        /* DEBUG */
        background-color: #333333;
    }


}



/*************************************
           DESKTOP
**************************************/

@media all and (min-width:1025px) {

    /* HEADER */

    .container{
        width: 70%;
    }

    #hamburger{
        display: none;
    }

    #menu{
        display: block;
        height: 50px;
        width: 150px;
        /* DEBUG */
        background-color: rgb(4, 255, 0);
        border: solid black 2px;
    }

    /* <!-- SECOND LAYOUT , MOTIVATION --> */
    
    #motivation .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #motivation .col{
        width: 45%;
        /* DEBUG */
        background-color: blue;
    }

    /*  <!-- FOURTH LAYOUT , BENEFITS  --> */

    #benefit .container {
        justify-content: center;
    }


    /* <!-- SIXTH LAYOUT , GET STARTED --> */


    #getstarted .col{
        width: 50%;
        margin: 0 auto;
        /* DEBUG */
        background-color: #fdc15f;
    }



    /* FOOTER */

    #info .col{
        width: 50%;
        margin: 0 auto;
        /* DEBUG */
        background-color: #333333;
    }

}
