*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    width: 90%;
    margin: 0 auto;
}

.button {
	color: black;
	background-color: white;
	border-radius: 25px;
	height: 30px;
	width: 90px;
	text-align: center;
}

/* Regole Generali*/

/*************************************
           REGOLE HEADER
**************************************/

header{
    background-color: #0084fd;
    height: 100px;
    width: 100%;
    margin-bottom: 60px;
}

header .container {
	padding-top: 24px;
	display: flex;
	justify-content: space-between;
	align-self: baseline;
}

#logo{
    height: 50px;
    width: 90px;
    /* DEBUG */
    /* background-color: yellow;
    border: solid black 2px; */
}

#logo img{
    width: 100%;
}

#hamburger{
    height: 50px;
    width: 50px;
    /* DEBUG */
    /* background-color: yellow; */
    /* border: solid black 2px; */
}

#hamburger i {
	padding: 15px;
	color: white;
}

#menu{
    display: none;
}

#menu .button{
    color: black;
    padding-top: 5px;
}





/*************************************
           REGOLE MAIN
**************************************/

/* <!-- FIRST LAYOUT , EXPLANATION --> */

#explanation .container {
	min-height: 300px;
    margin-bottom: 70px;
	flex-wrap: wrap;
	display: flex;
	justify-content: space-between;
    /* DEBUG */
    /* background-color: violet;
    margin-bottom: 40px; */
}

.col{
    min-height: 250px;
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    /* DEBUG */
    /* background-color: #b5ddff; */
}

.container .col {
	min-height: 50px;
	width: 100%;
	margin-bottom: 20px;
    padding: 0 45px;
	/* background-color: #b5ddff;
	/* border: solid black 2px; */
} 

.col h2{
    color: #0084fd;
}

#explanation .col .big h2 , 
span ,
a{
    margin-top: 32px;
    display: flex;
    justify-content: center;
}
.container img{
    width: 100%;
}

#explanation .container .col{
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#explanation .container .col .button {
	background-color: #0084fd;
	width: 180px;
	height: 40px;
    margin-bottom: 30px;
    margin-top: 0px;
	color: white;
	align-items: center;
	text-decoration: none;
}

#explanation .col.big i {
	padding-right: 10px;
	padding-bottom: 3px;
}

.icon {
	width: 80%;
	height: 150px;
	align-items: center;
	display: flex;
	justify-content: center;
	color: #0084fd;
    /* DEBUG */
    	/* background-color: brown; */
}

#explanation .col .icon{
    font-size: 100px;
}

#explanation .col span{
    margin-bottom: 30px;
    padding: 0 20px;
}

/* <!-- SECOND LAYOUT , MOTIVATION --> */

#motivation {
    background-color: #9792e4;
    padding-bottom: 60px;
}

#motivation .container{
    min-height: 400px;
    /* DEBUG */
    /* background-color: greenyellow;
    margin-bottom: 40px; */
}

#motivation .container img {
	width: 100%;
	margin-top: 50px;
}

#motivation .col{
    background-color: #9792e4; 
    color: white; 
    display: block;
  /* DEBUG */
    /* background-color: red; */
}

#motivation h2 {
	color: white;
	font-size: 35px;
	margin: 35px 0px;
}

#motivation .col.variant h2 {
    color: black;
}

#motivation .container .col.variant {
	background-color: white;
	color: black;
	border-radius: 65px;
	width: 80%;
	margin: 40px auto 0;
}

#motivation .container .col.variant .button{
    background-color: #9792e4;
    align-items: center;
    text-decoration: none;
    width: 40px;
    height: 40px;
}

/* #motivation .container .col.variant a{
    margin-left: 150px;
} */

.aligner {
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: center;
    /* DEBUG */
    /* background-color: aqua;
	/* border: solid black 2px; */
} 

/* <!-- THREAD LAYOUT , TESTIMONIALS --> */

#testimonial .container{
    min-height: 400px;
    /* DEBUG */
    background-color: #ffffff;
    margin-bottom: 40px;
}

#testimonial .col{
    width: 100%;
    margin: 40px auto 0;
    display: block;
    /* DEBUG */
    background-color: #ffffff;
}

#testimonial .col.introduction {
	width: 77%;
	margin: 0 auto;
	padding: 20px 100px;
    /* DEBUG */
    /* background-color: thistle; */
}

#testimonial .col.introduction h3{
    color: black;
}

#testimonial h2 , h3{
    text-align: center;
    padding-top: 40px;
}

#testimonial h2{
    color: #9792e4;
}

#card{
    min-height: 100px;
    width: 95%;
    margin: 0 auto;
    padding: 20px 100px;
    background-color: #9792e4;
    border-radius: 65px;
    border: solid white 2px;
}

#card p , h3{
    color: white;
}

#card p{
    margin-top: 20px;
}

.roundpicture img{
    border-radius: 50%;
}

.roundpicture {
	max-width: 150px;
    max-height: 150px;
	border-radius: 50px;
    /* DEBUG */
    /* background-color: #328144; */
}


/* FOURTH LAYOUT , BENEFITS */

#benefit .container{
    background-color: #9792e4;
    width: 100%;
    padding-bottom: 50px;
}

.intro {
	width: 80%;
	margin: 0 auto;
	min-height: 180px;
	text-align: center;
	padding: 60px 0px;
	color: white;
	font-size: 58px;
}

 #benefit .col{
    width: 80%;
    min-height: 320px;
    border-radius: 25px;
    margin: 0 auto 10px;
    background-color: white;
    display: block;
 }

 #benefit h2{
    font-size: 80px;
    margin-top: 20px;
    color: #9792e4;
 }

 #benefit h3{
    text-align: left;
    padding-top: 0 ;
    color: #9792e4;
    font-size: 24px;
 }

 #benefit p{
    padding-top: 15px;
 }

 #benefit .col a{
    margin-top: 25px;
 }


 #benefit .button{
    background-color: #9792e4;
    color: white;
    text-decoration: none;
 }


/* <!-- FIFTH LAYOUT , ABOUT US  --> */

#aboutus .col{
    display: block;
    /* DEBUG */
    /* background-color: blue; */
}

#aboutus .col:first-child{
    margin-top: 70px;
}

#aboutus h2 , h3{ 
    color:#9792e4 ;
    font-size: 30px;
}

#aboutus .roundpicture{
    max-width: 200px;
    max-height: 200px;
}

#aboutus .button {
	background-color: #9792e4;
	color: white;
	width: 200px;
	font-size: 18px;
	align-items: center;
	text-decoration: none;
}

#aboutus i{
    padding-right: 9px;
    padding-bottom: 5px;
}
/* <!-- SIXTH LAYOUT , GET STARTED --> */

#getstarted .container{
    width: 100%;
    min-height: 400px;
    /* DEBUG */
    background-color:#9792e4 ;
    margin-bottom: 40px;
}

#getstarted .col{
    display: block;
    /* DEBUG */
    /* background-color:#fdc15f; */
}

#getstarted h2 ,h3, h4 {
	text-align: center;
	padding: 0 50px 20px;
}

#getstarted h2{
    color: #fdc15f;
    font-size: 60px;
}

#getstarted h3 , span{
    color: white;
    padding-bottom: 30px;
}

#getstarted h4{
    color: #d5d4f4;
    padding-top: 55px;
}

#getstarted a {
	margin-top: 0;
	color: #9792e4;
	text-decoration: none;
	width: 230px;
	height: 45px;
	margin: 0 79px;
	align-items: center;
}




/*************************************
           REGOLE FOOTER
**************************************/

#info .container{
    width: 100%;
    min-height: 200px;
    display:block;
    background-color:#333333 ;
}

#info .col{
    width: 100%;
    height: 70px;
    margin: 0 auto;
    display: block;
    /* DEBUG */
    background-color: #333333;
}

#info p{
    color:white;
    padding-top: 30px
}

#info u{
    color: #9792e4;
}

#info span{
    margin-top: 85px;
}







/*************************************
           TABLET
**************************************/

@media all and (min-width:768px) {
    
    /* <!-- FIRST LAYOUT , EXPLANATION --> */

    #explanation .container{
        display: flex;
        flex-wrap: wrap;
    }

    #explanation .col{
        min-height: 60px;
        width: calc(95% / 3);
        /* DEBUG */
        background-color: #b5ddff;
    }

    #explanation .col.big{
        width: calc((100% / 3) * 2 - 10px);
        align-items: start;
    }

    #explanation .col span{
        padding: 0;
    }

    #explanation img{
        width: 60%;
    }

    #explanation .col.big h2{
        margin-top: 30px;
    }

    /* THREAD LAYOUT , TESTIMONIALS */

    #card {
        min-height: 100px;
        width: 95%;
        margin: 0 auto;
        padding: 17px 0 0 17px;
        background-color: #9792e4;
        border-radius: 65px;
        border-top: 10px solid white;
        display: flex;
    }

    #card p{
        margin-top: 0;
    }
    .test{
        padding: 10px 40px 0;
    }

    .test h3 {
        padding-right: 283px;
        font-size: 15px;
    }

    .roundpicture img{
        height: 160px;
    }


    /* <!-- FOURTH LAYOUT , BENEFITS  --> */

    #benefit .container{
        min-height: 400px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        /* DEBUG */
        background-color: #9792e4;
        margin-bottom: 40px;
    }
    
    #benefit .col {
        width: calc(90% / 2);
        min-height: 350px;
        background-color: white;
        margin: 30px 15px 0 23px;
    }


    
    /* <!-- FIFTH LAYOUT , ABOUT US  --> */

    #aboutus .container {
        display: flex;
        justify-content: center;
    }

    #aboutus .col{
        width: calc(100% / 2);
        /* DEBUG */
        /* background-color: blue; */
    }

    #aboutus .col:first-child{
        margin-top: 0;
    }
    #aboutus .roundpicture {
        max-width: 150px;
        max-height: 130px;
    }

    #aboutus .container {
        display: flex;
        width: 100%;
    }

    #aboutus h3{
        font-size: 20px;   
        padding-right:190px ;
    }

    .roundpicture img {
        height: 160px;
        margin-left: 25px;
    }

    /* <!-- SIXTH LAYOUT , GET STARTED --> */

    #getstarted .col{
        /* width: 80%;
        margin: 0 auto; */
        /* DEBUG */
        background-color: #9792e4;
    }

    #getstarted h2{
        font-size: 100px;
    }

    #getstarted span{
        padding: 0 105px;
    }

    #getstarted a {
        margin: 30px 247px;
    }



    /* FOOTER */

    #info .col{
        width: 70%;
        margin: 0 auto;
        /* DEBUG */
        background-color: #333333;
    }


}



/*************************************
           DESKTOP
**************************************/

@media all and (min-width:1025px) {

    /* HEADER */

    .container{
        width: 80%;
    }

    #hamburger{
        display: none;
    }

    #menu {
        height: 50px;
        width: 405px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* DEBUG */
        /* background-color: rgb(4, 255, 0);
        border: solid black 2px; */
    }

    #menu a{
        text-decoration: none;
        color: white;
    }
    /* <!-- SECOND LAYOUT , MOTIVATION --> */
    
    #motivation .container{
        width: 70%;
        margin: 0 auto;
    }

    #motivation .container {
        display: flex;
        align-items: end;
    }

    #motivation .container .col{
        width: 50%;
        /* DEBUG */
        /* background-color: blue; */
    }

    #motivation .container .col.variant{
        width: 42%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #motivation .container h2{
        margin: 0;
        font-size: 20px;
        margin-top: 10px;
    }



    /*  <!-- FOURTH LAYOUT , BENEFITS  --> */

    #benefit .container {
        justify-content: center;
        flex-wrap: wrap;
    }

    #benefit .col{
        width: 30%;
    }


    /* <!-- SIXTH LAYOUT , GET STARTED --> */


    #getstarted .col{
        width: 50%;
        margin: 0 auto;
        /* DEBUG */
        background-color: #9792e4;
    }

    #getstarted a {
        margin: 30px 111px;
    }

    #getstarted span {
        margin-top: 0;
    }



    /* FOOTER */

    #info .col{
        width: 30%;
        margin: 0 auto;
        /* DEBUG */
        background-color: #333333;
    }

}
